
#mainjumbo {
    background-color: #FFD744;
    width: 100vw;
    height: 100vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#jumboheading {
    padding-top: 18vh;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: white;
}


#down {
    color: white;
    width: 100%;
    position: absolute;
    bottom: 5vh;
    text-align: center;
    z-index: 2;
    margin: 0px;
}

#aboutme {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

h1 {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Bungee Shade', cursive;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;

}

h3 {
    text-decoration: underline;
    -webkit-text-decoration-color: #FFD744;
    text-decoration-color: #FFD744;
}

h4 {
    font-size: 180%;
}

.details {
    font-family: 'Lato', sans-serif;
    font-size: 120%;
}

ul {
    list-style-type: none;
}

.para {
    padding-top: 3vh;
    text-align: center;
    
}

.parawrite {
    font-family: 'Lato', sans-serif;
    font-size: 3vh;
    opacity: 0;
    padding-top: 3vh;

}

.separator {
    height: 5px;
    background-color: #FFD744;
    width: 85vw;
    margin-bottom: 15px;
}

.section {
    margin-bottom: 4%;
    margin-left: 10%; 
    margin-right: 10%;
}

#end {
    background-color: #FFD744;
    height: 30vh;
}

a {
    font-family: 'Lato', sans-serif;
    margin-right: 10px;
}

#favs {
    font-family: 'Oswald', sans-serif;
    font-size: 5vh;
}
